<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>EndlessNet</vendor>
  <vendor_url>https://endlessnet.ru/</vendor_url>
  <action id="ru.endlessnet.client.recovery">
    <description>Confirm an EndlessNet client recovery operation</description>
    <message>Administrator authentication is required to recover or locally forget this EndlessNet client</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/endlessnet/endlessnet-client-recovery-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">false</annotate>
  </action>
</policyconfig>
